// COLORS
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

$red-noun: #FF3A3A;
$blue-verb: #2ED7F4;
$yellow-adjective: #FFFF00;
$magenta-adverb: #FF00C3;